body {
  background-color: rgb(229, 227, 227);
  font-size: large;
}

.one-set-button {
  text-align: center;
  margin: 5px;
  padding: 8px 10px;
  
}
button {
  color: black;
  border-radius: 5px;
  padding: 10px 20px;
  border-style: none;
  background-color: lightcoral;
}
button:hover {
  border-radius: 10px;
}

